body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9a200;
}
.home{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create_form{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.create_form input{
  width: 300px;
  height: 1.5rem;
  padding: 10px;
  border:  none ;
  border-radius: 1rem;
  margin-bottom: .5rem;
}
.btn button {
  width: 5rem;
  height: 40px;
  margin-right: 10px;
  margin-top: 15px;
  border-radius: 1rem;
  border:none  ;
  cursor:pointer;
}
.btn button:hover{
  background-color: rgb(16, 139, 16);
  border: solid rgb(16, 139, 16);
}
.content {
  width: 345px;
  height: 90px;
  /* background-color: rgb(134, 134, 52); */
  background-color: #025c37;
  border-radius: 1rem;
  align-items: center;
  display: flex;
  margin-bottom: 15px;
  color: rgb(250, 248, 246);
}
.content img{
  margin-right: 1rem;
  margin-left: 10px;
}
.update-btn{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 1rem;
  
}
.update-btn button {
  height: 30px;
  border-radius: 1rem;
  border: none;
  margin-bottom: 5px;
  cursor:pointer;
}
.update-btn button.edit:hover{
  background-color:rgb(70, 70, 216) ;
  border: none;
}
.update-btn button.dlt:hover{
  background-color:rgb(246, 23, 23) ;
  border: none;
}
h1{
  background-color: rgb(51, 51, 94);
  border-radius: 1rem;
  padding: 0 2rem .5rem 2rem;
  color: white;
}
  