body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.home{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create_form{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.create_form input{
  width: 300px;
  height: 1.5rem;
  padding: 10px;
  border: 2px solid ;
  outline: none;
  border-radius: 1rem;
  margin-bottom: .5rem;
}
.btn button {
  width: 5rem;
  height: 40px;
  margin-right: 10px;
  margin-top: 15px;
  border-radius: 1rem;
  border:solid  ;
  cursor:pointer;
}
.btn button:hover{
  background-color: rgb(16, 139, 16);
  border: solid rgb(16, 139, 16);
}
.content {
  width: 345px;
  height: 90px;
  background-color: rgb(181, 163, 177);
  border-radius: 1rem;
  align-items: center;
  display: flex;
  border: solid 1px;
  margin-bottom: 15px;
}
.content img{
  margin-right: 1rem;
  margin-left: 10px;
}
.update-btn{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 1rem;
  
}
.update-btn button {
  height: 30px;
  border-radius: 1rem;
  border: none;
  margin-bottom: 5px;
  cursor:pointer;
}
.update-btn button.edit:hover{
  background-color:rgb(27, 27, 231) ;
  border: none;
}
.update-btn button.dlt:hover{
  background-color:rgb(246, 23, 23) ;
  border: none;
}